@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.navbar{
    font-size: 1.3em;
    background: rgba(8, 8, 8, 0.658) !important;
    padding: 1em;
    border-radius: 0em 0em 1em 1em;
    transition: top 1s;
}
.nav-back{
    margin-right: 1em;
}
.edu-navbar-brand{
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.edu-navbar-brand:hover{
    color: whitesmoke;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0.5em;
    font-weight: 300;
}
.sub{
    color: rgb(194, 194, 194);
}
.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
}